# OS / Editor
.DS_Store
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / Secrets
.env

# Build / Coverage / Cache
dist/
coverage/
.cache/

# Project temp files
temp/

# Misc
*.log
Thumbs.db